extends ../../views/layout.pug

block content
  #login
    fieldset
      legend Login

      #messages
        if infoMessage
          .info=infoMessage
        if errorMessage
          .error=errorMessage

      form(action="/login" method="post")
        if !loggedIn
          div
            input(type="text" name="key" placeholder="Key")
          div
            button(type="submit" value="login" name="action") Login
        else
          div
            button(type="submit" value="logout" name="action") Logout