extends ../../views/layout.pug

block content
  h1 Index of #{file.virtualPath}
  ul
    if file.virtualPathParent !== undefined
      li
        a(href=file.virtualPathParent) Parent Directory
    each file in files
      li
        a(href=file.virtualPath) #{file.name}